{% load static %}
<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">
<head>
    <title>Larry De La Muala</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'website_api/images/icon.png' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Josefin+Sans|Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color: black; text-align: center; color: white; width: 100%; height: 100%;">
    <div>
        <h1>Website API</h1>
        <p>Test URL</p>
        <p>
            <a href="http://127.0.0.1:8000/find-missing-trees-for-orchard​/216269">http://127.0.0.1:8000/find-missing-trees-for-orchard​/216269</a>
        </p>
    </div
</body>
</html>
